a {
  text-decoration: none;
  color: #000000;
}
a:link {
  color: #000000;
}
a:hover {
  color: #f00000;
}

.cedition {
  text-decoration: none;
  font-size: 18px;
  color: red;
}
.cedition:hover {
  color: orange;
}

#header {
  display: flex;
  max-width: 1360px;
  min-width: 15%;
  margin: auto;
  flex-wrap: wrap;
}

#logo {
  width: 400px;
}

#txtbing {
  width: 365px;
  height: 27px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 15px;
  color: black;
}

#subbing {
  width: 43px;
  height: 32px;
  border: 0px;
  margin: 0px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 15px;
  background-color: black;
}

#subbing:hover {
  background: orange;
}

#nav {
  display: flex;
  max-width: 1360px;
  min-width: 15%;
  margin: auto;
  flex-wrap: wrap;
  gap: 5px 50px;
}

#main {
  display: flex;
  max-width: 1360px;
  min-width: 15%;
  margin: auto;
  flex-wrap: wrap;
}

#blank1 {
  width: 100%;
  height: 10px;
}
#blank2 {
  width: 100%;
  height: 800px;
}

#buttons {
  width: 1360px;
  margin: auto;
}

#text1 {
  width: 1360px;
  height: 280px;
  margin: auto;
  font-size: 16px;
  border-bottom: 0px;
}

#viewarea {
  width: 1360px;
  height: 260px;
  margin: auto;
  font-size: 20px;
  word-wrap: break-word;
  border-top: 10px solid orange;
}

.buttons {
  width: 43px;
  height: 25px;
  font-size: 16px;
  border: 0px;
  color: #ffffff;
  border-radius: 15px;
  background-color: black;
}

.buttons:hover {
  background: orange;
}

.cbutton {
  width: 45px;
  height: 25px;
  font-size: 16px;
  border: 0px;
  color: #ffffff;
  border-radius: 15px;
  background-color: red;
}

.cbutton:hover {
  background: orange;
}

#rbutton {
  width: 110px;
  height: 25px;
  font-size: 16px;
  border: 0px;
  color: #ffffff;
  border-radius: 15px;
  background-color: green;
}

#rbutton:hover {
  background: orange;
}

#mdownbutton {
  height: 25px;
  font-size: 16px;
  border: 0px;
  color: #ffffff;
  border-radius: 15px;
  background-color: blue;
}

#mdownbutton:hover {
  background: orange;
}

.mnlinetable {
  width: 110px;
  height: 25px;
  font-size: 16px;
  border: 0px;
  color: #ffffff;
  border-radius: 15px;
  background-color: black;
}

.mnlinetable:hover {
  background: orange;
}
